<div class="mui-row">
    <div class="mui-col-md-12">
        <h1>Log in</h1>
    </div>
    <div class="mui-col-md-8">
        <form method="post" action="/login" class="mui-form"> 

                <div class="mui-textfield">
                    <input type="text" placeholder="Username" name="username" id="username" required/>
                </div>
                
                <div class="mui-textfield">
                    <input type="password" placeholder="Password" name="password" id="password" required/>
                </div>
   
            <div>
            <button type="submit" class="mui-btn mui-btn--primary">Submit </button>
            </div>
        </form>

        <% if flash.has?(:error) %>
            <h3 class="error"><%= flash[:error] %></h3>
        <% elsif flash.has?(:message) %>
            <h3 class="message"><%= flash[:message] %></h3>
            <h3><a href="/" style="text-decoration: underline;">Back to homepage</a><h3>
        <% elsif flash.has?(:status) %>
        <h3 class="message"><%= flash[:status] %></h3>
        <% end %>
    </div>
</div>
