<h1>Log in to Mike Works</h1>

<form method="post" action="/login"> 

    <h3>Username:</h3>
    <p><input type="text" name="username" id="username"/></p>

    <h3>Password:</h3>
    <p><input type="text" name="password" id="password"/></p>

    <input type="submit" value="submit">

</form>