<h1>Sign up here</h1>

<form method="post" action="/signup"> 

    <h3>Full Name:</h3>
    <p><input type="text" name="full_name" id="full_name"/></p>
    
    <h3>Username:</h3>
    <p><input type="text" name="username" id="username"/></p>

    <h3>Email:</h3>
    <p><input type="email" name="email" id="email" /></p>

    <h3>Password:</h3>
    <p><input type="text" name="password" id="password"/></p>

    <h3>Are you an instructor?</h3>
    <p>
        <input type="radio" name="instructor" value="Yes"/>
        <input type="radio" name="instructor" value="No" checked/>
    </p>

    <input type="submit" value="Create User">

</form>