
<div class="mui-row">
    <div class="mui-col-md-12">
        <h1>Sign up</h1>

        <form method="post" action="/signup" class="mui-form"> 

            <div class="mui-textfield">
                <input type="text" placeholder="Full Name" name="full_name" id="fullname"/>
            </div>

            <div class="mui-textfield"> 
            <input type="text" placeholder="Username" name="username" id="username"/>
            </div>

            <div class="mui-textfield"> 
            <input type="email" placeholder="Email" name="email" id="email" />
            </div>

            <div class="mui-textfield">
            <input type="password" placeholder="Password" name="password" id="password"/>
            </div>

            <h3>Are you an instructor?</h3>
            <div class="mui-radio">
                <label><input type="radio" name="instructor" value="yes">Yes</label>
            </div>
            <div class="mui-radio">
                <label><input type="radio" name="instructor" value="no" checked/>No</label>
            </div>

            <button type="submit" class="mui-btn mui-btn--primary">Create User</button>
        </form>
    </div>
</div>