<h1>My account information:</h1>

<div>
    <h3>Full Name: </h3>
    <p><%=@user.full_name%></p>

    <h3>Email: </h3>
    <p><%=@user.email%></p>

    <h3>Biography: </h3>
    <p><%=@user.biography%></p>

    <% if current_user.id === @user.id%>
        <h3><a href="/users/<%=current_user.id%>/edit">Update my account information</a></h3>

        <form method="post" action="">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete My Account">
        </form>
    <% end %>
</div>