
<h1>List of my courses</h1>
<div>
    <ol><% @my_courses.each do |course|%>
        <li>
        <h3><a href="/courses/<%=course.id%>"><%= course.name%></a> <%= course.icon%></h3>
        <p>Description: <%= course.description%></p>
        <p>Difficulty Level:
            <% if course.level == 0 %>
            Easy
            <% elsif course.level == 1 %>
            Intermediate
            <% else %>
            Hard
            <% end%></p>
            </li>
    <%end%></ol>
</div>

<div>
    <h2><a href="/courses/new">Create a new course</a></h2>
</div>