<%# IF instructor, show this page%>
<div class="mui-row">
    <div class="mui-col-md-12">
        <h1>Create a new course</h1>
        <form method="post" action="/courses" class="mui-form">
            <legend>Course name</legend>
            <div class="mui-textfield">
                <input type="text" name="name" id="name" required/>
            </div>

            <legend>Course icon</legend>
            <div class="mui-textfield">    
                <input type="text" name="icon" id="icon" />
            </div>

            <legend>Description</legend>
            <div class="mui-textfield">
                <textarea name="description" id="description" required></textarea>
            </div>

            <legend>Difficulty level</legend>
            <p>Easy<input type="range" name="level" id="level" min="1" max="3" step="1" />Advanced</p>
            
            <br><button type="submit" class="mui-btn mui-btn--primary">Create Course</button>
        </form>

        <% if flash.has?(:error) %>
            <h3 class="error"><%= flash[:error] %></h3>
        <% end %>
    </div>
</div>