<div class="homepage">
    <h1>Mike Works</h1>

    <div>
        <h2>UP-LEVEL YOUR SKILLS</h2>
        <h3>Training on HOT topics, for a SERIOUS jump start!</h3>
    </div>


    <div>
        <h3>Already a user?</h3>
        <p><a href="/login">Log In Here</a></p>

        <h3>New to Mike Works?</h3>
        <p><a href="/signup">Sign Up Here</a></p>
    </div>

</div>