<!DOCTYPE html>
<html>
  <head>
    <title>Mike Works - User Accounts</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.9.18/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.18/js/mui.min.js"></script>
    <style>
      @import "bower_components/mui/src/sass/mui/colors";

      body {
        background-color: mui-color('purple', '700');
      }

    </style>
  </head>


  <body>
    <div class="mui-container">
      <%= yield %>
    </div>
  </body>
</html>