<!DOCTYPE html>
<html>
  <head>
    <title>Mike Works - User Accounts</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.9.18/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.18/js/mui.min.js"></script>
    <style>
      @import "bower_components/mui/src/sass/mui/colors";

      body {
        background-color: #eee;
      }
      body > .mui-container {
        background-color: #fff;
        min-height: 100vh;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
      }
      .mui-appbar {
        background: #01579B;
      }
      .mui-appbar .brand {
        line-height: 56px;
        font-size: 3rem;
      }

      h3.error {
        color: red;
      }

      h3.message {
        color: #0091EA;
      }

      h3.status {
        color: #0091EA;
      }

    </style>
  </head>


  <body>
    <div class="mui-appbar">
      <div class="mui-container">
        <div class="brand">Course Registration System
      </div>
      </div>
    </div>
    <div class="mui-container">
      <%= yield %>
    </div>
  </body>
</html>